<th:block th:fragment="myCardFragment">
	<link rel="stylesheet" th:href="@{/mypage/common/myPageMyCardStyle.css}">
	
	<div class="myCard">
        <div class="profile" id="myInfo">
            <div class="profileImg">
                <img src="" alt="">
            </div>
            <div class="profileName">
                <p>classmate<i class="fa-solid fa-angle-right"></i></p>
            </div>
        </div>
        <div class="cashContainer">
            <div class="content">
                <p class="btn" id="myCardSubstibBtn">구독하기</p>
            </div>
        </div>
    </div>
    <script th:src="@{/mypage/common/myPageMyCardModul.js}"></script>
</th:block>