main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoryContentContainer {
    display: flex;
    align-items: start;
    width: var(--pageMinWidth);
}


.categoryDetailNav {
    position: sticky;
    top: 123px;
    width: 20%;
}

.categoryDetailNav>.categoryDetailNavTitle {
    padding: 2rem 0;
    font-size: 24px;
    font-weight: 900;
}

.categoryDetailNav>ul>li>a {
    display: block;
    padding: 0.5rem 0;
    font-size: 16px;
    font-weight: 400;
}


.categoryContent {
    width: 80%;
}

.categoryContentTop {
    display: flex;
    justify-content: end;
    align-items: center;
}


.categoryContentTop>form>Select {
    border: none;
    outline: none;
    padding: 0.3rem 1rem;
    font-weight: 900;
    font-size: 14px;
}



.categoryContentDown{
}

.categoryContentDown>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.categoryContentDown>.categoryCons>.categoryCon{
    width: 24%;
    margin-bottom: 1rem;
}

.categoryCon>a>.categoryConImg{
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgb(207, 207, 207);
}

.categoryCon>a>.categoryConText{
    padding: 1rem 0;
    width: 100%;
}

.categoryCon>a>.categoryConText>p>span{
    font-size: 14px;
    color: var(--boxShadow);
}