<html layout:decorate="~{layout/layout}">
<main layout:fragment="main">
    <!--커뮤니티 목록-->
    <link rel="stylesheet" th:href="@{/community/communityDetailStyle.css}">

    <div class="contentContainer">
        <div class="container my-31">
            <!-- 질문 -->
            <h2 class="border-bottom py-2" th:text="${community.title}"></h2>
            <div class="card my-3">
                <div class="card-body">
                    <div class="card-content " style="white-space: pre-line;">
                        <div th:text="${community.content}"></div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">
                                <span th:if="${community.user != null}" th:text="${community.user.name}"></span>
                            </div>
                            <div th:text="${#temporals.format(community.lastUpdate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 답변의 갯수 표시 -->
           <!-- 비동기 처리 원하지만 일단 url 부여해서 수정 처리함-->
            <h5 class="border-bottom my-3 py-2"
                th:text="|${#lists.size(community.communityComments)}|+개의+' '+답변이+' '+ 있습니다+'.'"></h5>
            <!--답변 반복 시작 -->
            <div class="card my-3 answer">
                <div class="card-body">
                    <div class="card-content " style="white-space: pre-line;">
                        <div th:text="${community.communityComment.content}"></div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">
                                <span th:if="${community.user != null}" th:text="${community.communityComment.user.name}"></span>
                            </div>
                            <div th:text="${#temporals.format(community.communityComment.lastUpdate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 답변 반복 끝  -->
            <!-- 답변 수정 -->
            <form th:action="@{|/community/commentModify/${community.communityComment.commentId}|}"
                th:object="${communityCommentForm}" method="post" class="my-3">
                <textarea th:field="*{contents}" rows="10" class="form-control" th:placeholder="${community.communityComment.content"></textarea>
                <input type="submit" value="답변수정" class="btn btn-primary my-2">
            </form>

        </div>
    </div>


    <script th:src="@{/community/communityDetail.js}"></script>
    <main>

</html>