<html layout:decorate="~{layout/layout}">
	<main layout:fragment="main">
    	<link rel="stylesheet" th:href="@{/community/communityStyle.css}">
    	
        <div class="csContentContainer">
            <div class="csSideNav">
                <p>커뮤니티</p>
                <ul>
                    <li><a href="#">자유게시판</a></li>
                    <li><a href="#">질문 / 답변</a></li>
                    <li><a href="#">고민 나누기</a></li>
                </ul>
            </div>
            <div class="csCon">
                <ul>
                    <li class="maintap faq on">
                        <div class="csConTitle">
                            <p>자유게시판</p>
                            <div class="cummunitysearchContainer">
                                <input type="text" placeholder="내용을 입력해주세요">
                                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                        <div class="selectOption">
                            <p>추천순</p>
                            <p>인기순</p>
                        </div>
                        <table>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                        </table>
                    </li>
                    <li class="maintap mention">
                        <div class="csConTitle">
                            <p>질문 / 답변</p>
                            
                            <div class="cummunitysearchContainer">
                                <input type="text" placeholder="내용을 입력해주세요">
                                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                        <div class="selectOption">
                            <p>추천순</p>
                            <p>인기순</p>
                        </div>
                        <table>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                        </table>
                    </li>
                    <li class="maintap mention">
                        <div class="csConTitle">
                            <p>고민 나누기</p>
                            <div class="cummunitysearchContainer">
                                <input type="text" placeholder="내용을 입력해주세요">
                                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                        <div class="selectOption">
                            <p>추천순</p>
                            <p>인기순</p>
                        </div>
                        <table>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta possimus saepe ipsa nulla, consectetur quasi impedit, vel sunt aperiam non tempora ipsam minima! Quia enim excepturi a accusamus ratione!</td>
                                <td>2024.10.01</td>
                            </tr>
                        </table>
                    </li>
                </ul>

            </div>
        </div>


		<script th:src="@{/community/communityModul.js}"></script>
    </main>
</html>