<html layout:decorate="~{admin/adminLayout}">
<main layout:fragment="mainFragment">  
    <link rel="stylesheet" th:href="@{/admin/adminNoticeListDetailStyle.css}">

    <h1>커뮤니티 관리 > 문의 조회</h1>
    
    <div id="backBtnBox">
		<button onclick="history.back();">뒤로 가기</button>
	</div>

    <div class="mainWrap">

        <div class="titleLayout">
            <h3 class="question.title">제목</h3>
            <div class="titleContent" th:text="${question.title}"></div> 
        </div>
        <div>
            <div class="contentWrap">
                <div class="content" th:text="${question.content}"></div>
            </div>   
        </div>
    
    </div>

    <script th:src="@{/admin/adminNoticeListDetailModul.js}"></script>
</main>
</html>