<html layout:decorate="~{admin/adminLayout}">
<main layout:fragment="mainFragment">
	<link rel="stylesheet" th:href="@{/admin/adminCourseListPageStyle.css}">
	<h1>강좌 관리</h1>
	<div id="searchBox">
		<!-- 검색창 -->
		<select name="kw" id="">
			<option>전체</option>
			<option value="">강좌명</option>
			<option value="">강의명</option>
		</select>
		<input type="text" id="search_kw" placeholder="강좌명 또는 강의명을 입력해주세요.">
		<button id="searchBtn">검색</button>
	</div>
	
	<!-- 강좌 조회 테이블 -->
	<div id="columnBox">
		<span>번호</span>
		<span>강사</span>
		<span>강좌</span>
		<span>카테고리</span>
		<span>가격</span>
		<span>수정 날짜</span>
		<span>강의 조회</span>
		<span>강좌 삭제</span>
	</div>
	<div th:each="course, loop : ${courseList}" class="contentRows">
		<span th:text="${loop.count}"></span>
		<span th:text="${course.instructor.user.name}"></span>
		<span th:if="${#strings.length(course.title) > 27}" th:text="${#strings.substring(course.title, 0, 27) + '...'}"></span>
		<span th:if="${#strings.length(course.title) <= 27}" th:text="${course.title}"></span>
		<span th:text="${course.category.category}"></span>
		<span th:text="${#numbers.formatInteger(course.price,3,'COMMA') + '원'}"></span>
		<span th:text="${#temporals.format(course.lastUpdate, 'yyyy-MM-dd')}"></span>
		<button th:text="${'강의 조회(' + #lists.size(course.lectures) + ')'}"></button>
		<button>삭제</button>
	</div>
	
	<!-- JS 파일 불러오기 -->
	<script th:src="@{/admin/adminCourseListPageModul.js}"></script>
</main>
</html>