<html layout:decorate="~{admin/adminLayout}">
<main layout:fragment="mainFragment">
    <link rel="stylesheet" th:href="@{/admin/adminNoticeListPageStyle.css}">
	<div>
        <h1>공지사항 관리</h1>
        <button class="announcementBtn">
            공지사항 등록
        </button>
    </div>
<!-- 강좌 조회 테이블 -->
<div id="columnBox">
    <span>번호</span>
    <span>작성자</span>
    <span>제목</span>
    <span>수정 일자</span>
    <span>삭제 여부</span>
    <span>공지사항 조회</span>
    <span>공지사항 삭제</span>
    <span>공지사항 수정</span>
</div>
<div th:each="notice, loop : ${noticeList}" class="contentRows">
    <span th:text="${loop.count}"></span>
    <span th:text="${notice.admin.adminCode}"></span>
    <span th:if="${#strings.length(notice.title) > 27}" th:text="${#strings.substring(notice.title, 0, 27) + '...'}"></span>
    <span th:if="${#strings.length(notice.title) <= 27}" th:text="${notice.title}"></span>
    <span th:text="${#temporals.format(notice.lastUpdate, 'yyyy-MM-dd')}"></span>
    <span  th:text="${notice.deleteYn} == n ? 'N' : 'Y'" th:classappend="${notice.deleteYn} == y ? 'blueText'"></span>
    <button th:onclick="noticeSelect([[${notice.noticeId}]], [[${#lists.size(notice.content)}]])">조회</button>
    <button th:onclick="deleteNotice([[${notice.title}]], [[${notice.noticeId}]], [[${notice.deleteYn}]])" th:text="${notice.deleteYn} == n ? '삭제' : '삭제 해제'" th:classappend="${notice.deleteYn} == y ? 'blueText'"></button>
    <button th:onclick="noticeModify([[${notice.noticeId}]], [[${#lists.size(notice.content)}]])">수정</button>
</div>
<!-- th:href="@{|/admin/adminNoticeList/${notice.noticeId}|}" -->
<!-- 페이징 버튼 -->
<div id="pageBtn" th:if="${page.totalPage} > 1">
    <ul>
        <li th:classappend="${page.pageNo == 1} ? 'disabled'">
            <a class="page-link" href="javascript:void(0)" th:data-page="1">처음으로</a>
        </li>
        <li>
            <a class="page-link" href="javascript:void(0)" th:if="${page.pageNo>1}" th:data-page="${page.pageNo-1}">이전</a>
        </li>
        <li th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}" th:classappend="${page.pageNo == num} ? 'active'">
            <a class="page-link" href="javascript:void(0)"  th:text="${num}" th:data-page="${num}"></a>
        </li>
        <li>
            <a class="page-link" href="javascript:void(0)" th:if="${page.pageNo < page.totalPage}" th:data-page="${page.pageNo+1}">다음</a>
        </li>
        <li th:classappend="${page.pageNo == page.totalPage} ? 'disabled'">
            <a class="page-link" href="javascript:void(0)" th:data-page="${page.totalPage}">마지막으로</a>
        </li>
    </ul>
</div>

<!-- kw, page 데이터 넘기기 -->
<form th:action="@{/admin/adminNoticeList}" method="get" id="searchForm">
    <input type="hidden" id="kw" name="kw" th:value="${kw}">
    <input type="hidden" id="kwType" name="kwType" th:value="${kwType}">
    <input type="hidden" id="page" name="page">
</form>






	<script th:src="@{/admin/adminNoticeListPageModul.js}"></script>
</main>
</html>    