<html layout:decorate="~{admin/adminLayout}">
<main layout:fragment="mainFragment">  
    <link rel="stylesheet" th:href="@{/admin/adminNoticeListDetailStyle.css}">

    <h1>고객센터 관리 > 상세 페이지</h1>
    
    <div id="backBtnBox">
		<button onclick="history.back();">뒤로 가기</button>
	</div>

    <div class="mainWrap">

        <div class="titleLayout">
            <h3 class="title">제목</h3>
            <div class="titleContent" th:text="${notice.title}"></div> 
        </div>
        <div>
            <div class="contentWrap">
                <div class="content" th:text="${notice.content}"></div>
            </div>   
        </div>
    
    </div>
    
</main>
</html>