<html layout:decorate="~{admin/adminLayout}">
<main layout:fragment="mainFragment">
	<link rel="stylesheet" th:href="@{/substatic/admin/adminCourseLecturePageStyle.css}">
	<h1>강좌 관리 > 강의 조회</h1>
	
	<div id="backBtnBox">
		<button onclick="history.back();">뒤로 가기</button>
	</div>
	
	<div id="courseNameBox">
		<!-- 강좌명 출력 -->
		<h2 th:text="'강좌명 : ' + ${lectureList[0].course.title}"></h2>
	</div>

	<!-- 강의 조회 테이블 -->
	<div id="columnBox">
		<span>번호</span>
		<span>강의명</span>
		<span>수정 날짜</span>
		<span>삭제 여부</span>
		<span>강의 삭제</span>
	</div>
	<div th:each="lecture, loop : ${lectureList}" class="contentRows">
		<span th:text="${loop.count + ((page.pageNo-1) * page.pageSize)}"></span>
		<span th:if="${#strings.length(lecture.title) > 27}" th:text="${#strings.substring(lecture.title, 0, 27) + '...'}"></span>
		<span th:if="${#strings.length(lecture.title) <= 27}" th:text="${lecture.title}"></span>
		<span th:text="${#temporals.format(lecture.lastUpdate, 'yyyy-MM-dd')}"></span>
		<span  th:text="${lecture.deleteYn} == n ? 'N' : 'Y'" th:classappend="${lecture.deleteYn} == y ? 'blueText'"></span>
		<button th:onclick="deleteLecture([[${lecture}]], [[${lectureList[0].course.courseId}]], [[${page.pageNo}]])" th:text="${lecture.deleteYn} == n ? '삭제' : '삭제 해제'" th:classappend="${lecture.deleteYn} == y ? 'switchBtn'"></button>
	</div>

	<!-- 페이징 버튼 -->
	<div id="pageBtn" th:if="${page.totalPage} > 1">
		<ul>
			<li th:classappend="${page.pageNo == 1} ? 'disabled'">
				<a href="javascript:void(0)" th:onclick="paseBtnClick([[${lectureList[0].course.courseId}]], 1)">처음으로</a>
			</li>
			<li>
				<a href="javascript:void(0)" th:onclick="paseBtnClick([[${lectureList[0].course.courseId}]], [[${page.pageNo-1}]])" th:if="${page.pageNo>1}">이전</a>
			</li>
			<li th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}" th:classappend="${page.pageNo == num} ? 'active'">
				<a href="javascript:void(0)" th:onclick="paseBtnClick([[${lectureList[0].course.courseId}]], [[${num}]])" th:text="${num}"></a>
			</li>
			<li>
				<a href="javascript:void(0)" th:onclick="paseBtnClick([[${lectureList[0].course.courseId}]], [[${page.pageNo+1}]])" th:if="${page.pageNo < page.totalPage}">다음</a>
			</li>
			<li th:classappend="${page.pageNo == page.totalPage} ? 'disabled'">
				<a href="javascript:void(0)" th:onclick="paseBtnClick([[${lectureList[0].course.courseId}]], [[${page.totalPage}]])">마지막으로</a>
			</li>
		</ul>
	</div>

	<!-- JS 파일 불러오기 -->
	<script th:src="@{/admin/adminCourseLecturePageModul.js}"></script>
</main>

</html>