<html layout:decorate="~{admin/adminLayout}">
<main layout:fragment="mainFragment">  
    <link rel="stylesheet" th:href="@{/admin/adminRegisterNoticeStyle.css}">
    
    <h1>공지사항 관리 > 공지사항 등록 및 수정 </h1>
    
    <div id="backBtnBox">
		<button onclick="history.back();">뒤로 가기</button>
	</div>

    <div class="mainWrap">

        <form class="Question" method="post" th:object="${noticeForm}">
            <input type="hidden">
            <!-- subject -->
            <div class="qs-info-subject">
                <h3>제목</h1>                   
                <input type="text" th:field="*{title}" >
                
                <div>
                    <input  type="file" name="files" id="files" class="files form-control form-control-sm" multiple>
                </div> 
                 <div class="file_drag">
                         <div class="file_list_header" style="display: none;">
                         <div class="file_list_header_task"><button type="button" class="button_svg_delete"><span class="blind">전체 삭제</span></button></div>
                         <div class="file_list_header_title"><span class="text">파일명</span></div>
                        <div class="file_list_header_volume"><span class="text">용량</span><span id="fileSize">0</span></div>
                     </div>
                    <ul id="fileList"></ul>
                </div>

            </div>
            <!-- subject end -->

            <!-- content-->
            <div class="qs-info-content">
                <h4>내용</h4>
                <textarea th:field="*{contents}"></textarea>
            </div>
            <!-- content end -->

            <button type="submit">저장하기</button>
        </form>
    
    </div> 

    <script th:src="@{/admin/adminRegistNotice.js}"></script>   
</body>
</html>