<main>
	
    <link rel="stylesheet" href="../../static/mypage/myCourseQnaQuestionDetailPageStyle.css">
    
    <div class="mpContainer">
		<div class="mpSideNav">
			<div class="mpSideNavTitle">
				<p>마이페이지</p>
			</div>
			<ul>
				<li class="on">
					<a href="#">
						<p>공지사항</p>
						<i class="fa-solid fa-angle-right"></i>
					</a>
				</li>
			</ul>
		</div>

		<ul>
			<li class="courseMngContent">
				<div class="courseMngTitle">
					내 강좌 관리 > QnA 내역 > 문의글 상세
				</div>
				<!-- 내용 부문 -->
				<div class="courseContainer">
		            <form name="courseform" action="post">
		                <!-- 문의글 입력 -->
		                <div class="courseTitle formText">
		                    <label for="title">제목</label>
		                    <input type="text" value="문의글 제목 상세" class="formStyle" id="title" readonly>
		                </div>
		                <div class="answerContent formText">
		                    <label for="content">내용</label>
		                    <textarea type="text" class="formStyle" id="content" readonly>상세 내용입니다</textarea>
		                </div>
		            </form>
	        	</div>
			</li>
		</ul>

	</div>
    
	<script th:src="@{/mypage/myCourseQnaQuestionDetailPageModul.js}"></script>
</main>