<html layout:decorate="~{layout/layout}">
<main layout:fragment="main">
	<link rel="stylesheet" th:href="@{/mypage/myCourseQnaAnswerDetailPageStyle.css}">
	
    <div th:replace="~{mypage/common/myPageMyCard :: myCardFragment}"></div>
	
    <div class="myPageContainer">
    	<!-- 서브 네비바 영역 -->
        <div th:replace="~{mypage/common/myPageSideNav :: mySideNavFragment}"></div>
        
        <div class="myPageContentContainer">
            <!-- 컨텐트 영역 -->
            <ul>
				<li class="courseMngContent">
					<div class="courseMngTitle">
						내 강좌 관리 > QnA 내역 > 답글 상세
					</div>
					<!-- 내용 부문 -->
					<div class="courseContainer">
			            <form name="courseform" action="post">
			                <!-- 답글 입력 -->
			                <div class="courseTitle formText">
			                    <label for="title">제목</label>
			                    <input type="text" value="답글 제목 상세" class="formStyle" id="title" readonly>
			                </div>
			                <div class="answerContent formText">
			                    <label for="content">내용</label>
			                    <textarea type="text" class="formStyle" id="content" readonly>상세 내용입니다</textarea>
			                </div>
			
			                <!-- button -->
			                <div class="submitButton">
			                    <input type="submit" value="수정하기">
			                </div>
			            </form>
		        	</div>
				</li>
			</ul>
        </div>
    </div>
	<script th:src="@{/mypage/myCourseQnaAnswerDetailPageModul.js}"></script>
</main>
</html>