<html layout:decorate="~{layout/layout}">
<main layout:fragment="main">
	<link rel="stylesheet" th:href="@{/mypage/myCourseLectureMngPageStyle.css}">
	
    <div th:replace="~{mypage/common/myPageMyCard :: myCardFragment}"></div>
	
    <div class="myPageContainer">
    	<!-- 서브 네비바 영역 -->
        <div th:replace="~{mypage/common/myPageSideNav :: mySideNavFragment}"></div>
        
        <div class="myPageContentContainer">
            <!-- 컨텐트 영역 -->
            <ul>
				<li class="courseMngContent">
					<div class="courseMngTitle">
						내 강좌 관리 > 강의 추가/관리
						<button class="orderByChangeBtn" th:onclick="lectureOrderChange([[${courseId}]])">강의 순서 변경</button>
						<button th:onclick="lectureCreate([[${courseId}]])">강의 추가</button>
					</div>
					<table class="courseMngInfo">
						<tr>
							<th>강의 순서</th>
							<th>강의명</th>
							<th>등록 날짜</th>
						</tr>
						<tr th:each="lecture : ${lectureList}">
							<td th:text="${lecture.lectureOrder}"></td>
							<td th:text="${lecture.title}"></td>
							<td th:text="${#temporals.format(lecture.lastUpdate, 'yyyy-MM-dd')}"></td>
						</tr>
					</table>
					
				</li>
			</ul>
        </div>
    </div>
	<script th:src="@{/mypage/myCourseLectureMngPageModul.js}"></script>
</main>
</html>