<main>
	
    <link rel="stylesheet" th:href="@{/mypage/myCourseLectureFormPageStyle.css}">
    
    <div class="mpContainer">
		<div class="mpSideNav">
			<div class="mpSideNavTitle">
				<p>마이페이지</p>
			</div>
			<ul>
				<li class="on">
					<a href="#">
						<p>공지사항</p>
						<i class="fa-solid fa-angle-right"></i>
					</a>
				</li>
			</ul>
		</div>

		<ul>
			<li class="courseMngContent">
				<div class="courseMngTitle">
					내 강좌 관리 > 강의 추가/관리 > 강의 추가
				</div>
				<!-- 내용 부문 -->
				<div class="courseContainer">
		            <form name="courseform" action="post">
		                <!-- 강의 입력 -->
		                <div class="courseImg formText">
		                    <label for="lectureVideo">영상 파일</label>
		                    <input type="file" id="lectureVideo">
		                </div>
		                <div class="courseTitle formText">
		                    <label for="title">제목</label>
		                    <input type="text" class="formStyle" id="title" placeholder="강의 제목을 입력해주세요.">
		                </div>
		                <div class="courseObjective formText">
		                    <label for="objective">학습 목표</label>
		                    <textarea type="text" class="formStyle" id="objective" placeholder="강의 학습 목표를 입력해주세요."></textarea>
		                </div>

						<!-- 강의 순서 -->
						<input type="hidden" name="orderBy">
		
		                <!-- button -->
		                <div class="submitButton">
		                    <input type="submit" value="추가하기">
		                </div>
		            </form>
	        	</div>
			</li>
		</ul>

	</div>
    
	<script th:src="@{/mypage/myCourseLectureFormPageModul.js}"></script>
</main>