<html layout:decorate="~{layout/layout}">
<main layout:fragment="main">
    <link rel="stylesheet" th:href="@{/mypage/myCourseMngPageStyle.css}">
    
    <div th:replace="~{mypage/common/myPageMyCard :: myCardFragment}"></div>
    
    <div class="myPageContainer">
        <!-- 서브 네비바 영역 -->
        <div th:replace="~{mypage/common/myPageSideNav :: mySideNavFragment}"></div>
        
        <div class="myPageContentContainer">
        	<th:block th:if="${instructor == null}">
        		<script>
        			alert("강사가 아닙니다.");
        			history.back();
        		</script>
        	</th:block>
        	<th:block th:if="${instructor != null}">
            <!-- 컨텐트 영역 -->
            <ul>
				<li class="courseMngContent">
					<div class="courseMngTitle">
						내 강좌 관리
						<button class="courseCreateBtn" onclick="location.href='/mypage/instructor/courseCreate'">강좌 등록</button>
					</div>
					<table class="courseMngInfo">
						<tr>
							<th>번호</th>
							<th>강좌명</th>
							<th>개설일</th>
							<th>기타</th>
						</tr>
						<tr th:each="course, loop : ${courseList}">
							<td th:text="${loop.count + ((page.pageNo-1) * page.pageSize)}">1</td>
							<td th:text="${course.title}"></td>
							<td th:text="${#temporals.format(course.lastUpdate, 'yyyy-MM-dd')}"></td>
							<td>
								<div class="btnsDiv">
									<button th:onclick="courseModify([[${course.courseId}]])">강좌 수정</button>
									<button th:onclick="courseDelete([[${course.courseId}]])">강좌 삭제</button>
									<button th:onclick="courseQnaSelect([[${course.courseId}]], [[${course.qnas}]])">QnA 내역</button>
									<button>리뷰 보기</button>
									<button th:onclick="lectureMng([[${course.courseId}]])">강의 추가/관리</button>
								</div>
							</td>
						</tr>
					</table>
					
					<!-- page 데이터 넘기기 -->
				    <form th:action="@{/mypage/instructor/myCourseList}" method="get" id="searchForm">
				        <input type="hidden" id="page" name="page">
				    </form>
					
					<!-- 페이징 버튼 -->
					<div id="pageBtn" th:if="${page.totalPage} > 1">
						<ul>
							<li th:classappend="${page.pageNo == 1} ? 'disabled'">
								<a class="page-link" href="javascript:void(0)" th:data-page="1">처음으로</a>
							</li>
							<li>
								<a class="page-link" href="javascript:void(0)" th:if="${page.pageNo>1}" th:data-page="${page.pageNo-1}">이전</a>
							</li>
							<li th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}" th:classappend="${page.pageNo == num} ? 'active'">
								<a class="page-link" href="javascript:void(0)" th:text="${num}" th:data-page="${num}"></a>
							</li>
							<li>
								<a class="page-link" href="javascript:void(0)" th:if="${page.pageNo < page.totalPage}" th:data-page="${page.pageNo+1}">다음</a>
							</li>
							<li th:classappend="${page.pageNo == page.totalPage} ? 'disabled'">
								<a class="page-link" href="javascript:void(0)" th:data-page="${page.totalPage}">마지막으로</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
			</th:block>
        </div>
    </div> 
    <script th:src="@{/mypage/myCourseMngPageModul.js}"></script>
</main> 
</html> 