<html layout:decorate="~{layout/layout}">
<main layout:fragment="main">
	<link rel="stylesheet" th:href="@{/mypage/myPageStyle.css}">
	<link rel="stylesheet" th:href="@{/mypage/myCoupon.css}">
	
	<!-- 마이 카드 영역 -->
    <div th:replace="~{mypage/common/myPageMyCard :: myCardFragment}"></div>
    
    <div class="myPageContainer">
        <!-- 서브 네비바 영역 -->
        <div th:replace="~{mypage/common/myPageSideNav :: mySideNavFragment}"></div>
        
        <!-- Content 영역 -->
        <div class="myPageContentContainer">
            <ul>
                <li class="coupon on">
                    <div class="couponTitle">
                        <p>내 쿠폰 목록</p>
                    </div>
                    <div class="couponHeader">
                        <span>쿠폰 일자</span>
                        <span>코드</span>
                        <span>할인 금액</span>
                     </div>

				    <!-- 쿠폰이 없을 때 표시 -->
		
				    <!-- 쿠폰 반복 -->
				    <div class="couponListContainer"
				    th:each="coupon : ${user.coupons}">
				        <!-- 쿠폰 정보 -->
				        <div class="couponListInfo">
				            <span th:text="${#temporals.format(coupon.createDate, 'yyyy-MM-dd')}"></span>
				            <span th:text="${coupon.code}"></span>
				            <span th:text="${coupon.discount} + '원'"><p></p></span>
				        </div>

                   </div> <!-- couponListContainer 끝 -->
                </li>
            </ul>
        </div>
    </div>
</main>
<script th:src="@{/mypage/myPageModul.js}"></script>
</html>