<html layout:decorate="~{layout/layout}">
<main layout:fragment="main">
	<link rel="stylesheet" th:href="@{/mypage/myPageStyle.css}">
	
	<!-- 마이 카드 영역 -->
    <div th:replace="~{mypage/common/myPageMyCard :: myCardFragment}"></div>
    
    <div class="myPageContainer">
        <!-- 서브 네비바 영역 -->
        <div th:replace="~{mypage/common/myPageSideNav :: mySideNavFragment}"></div>
        
        <!-- Content 영역 -->
        <div class="myPageContentContainer">
            <ul>
                <li class="myInfo on">
                    <p class="myInfoTitle">비밀번호 변경</p>
                    <form id="passwordEditForm" th:object = "${editPwForm}" th:action="@{|/mypage/edit/password|}" method="post">
                    	<input class="formError" th:each="err : ${#fields.allErrors()}" type="hidden" th:value="${err}">
                    	
                    	<input type="text" th:field="*{prePassword}"  placeholder="현재 비밀번호">
                        <input type="text" th:field="*{password}"  placeholder="새 비밀번호">
                        <input type="text" th:field="*{password2}"  placeholder="새 비밀번호 확인">
                        <button type="submit" class="saveBtn">저장하기</button>
                        <button class="cancleBtn">취소하기</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</main>
</html>
<script>
	cancleBtn = document.querySelector(".cancleBtn");
	cancleBtn.addEventListener("click",function(e){
		e.preventDefault();
		location.href = "/mypage/edit";
	});
	

	const errs = document.querySelectorAll(".formError");
	const errArr = new Array;
	errs.forEach((err)=>{
		errArr.push(err.value);
		console.log(err.value)
	})
	
	pef = document.getElementById("passwordEditForm")
	pef.addEventListener("submit",function(e){
		if(errArr.length >0){
			alert(errArr[0]);
		}
		
	});
	</script>