<html layout:decorate="~{layout/layout}">
<main layout:fragment="main">
	<link rel="stylesheet" th:href="@{/mypage/myPageStyle.css}">
	
	<!-- 마이 카드 영역 -->
    <div th:replace="~{mypage/common/myPageMyCard :: myCardFragment}"></div>
    
    <div class="myPageContainer">
        <!-- 서브 네비바 영역 -->
        <div th:replace="~{mypage/common/myPageSideNav :: mySideNavFragment}"></div>
        
        <!-- Content 영역 -->
        <div class="myPageContentContainer">
            <ul>
                <li class="myInfo on">
                    <p class="myInfoTitle">내 정보 관리</p>
                    <div class="profileImg">
                        <img src="" alt="">
                    </div>
                    <form>
                        <input type="text" th:value="${user.tel}"placeholder="전화번호" disabled>
                        <input type="text" th:value="${user.email}" placeholder="이메일" disabled>
                        <button class="passwordBtn">비밀번호 변경</button>
                        <button class="removeIdBtn">회원탈퇴</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</main>
</html>
<script>
	btn = document.querySelector(".passwordBtn");
	btn.addEventListener("click",function(e){
		e.preventDefault();
		location.href = "/mypage/edit/password";
	})
</script>