<html layout:decorate="~{layout/layout}">
<main layout:fragment="main">
	<link rel="stylesheet" th:href="@{/mypage/myPageStyle.css}">
	
	<!-- 마이 카드 영역 -->
    <div th:replace="~{mypage/common/myPageMyCard :: myCardFragment}"></div>
    
    <div class="myPageContainer">
        <!-- 서브 네비바 영역 -->
        <div th:replace="~{mypage/common/myPageSideNav :: mySideNavFragment}"></div>
        
        <!-- Content 영역 -->
        <div class="myPageContentContainer">
            <ul>
                <li class="myInfo on">
                    <p class="myInfoTitle">비밀번호 변경</p>
                    <form action="">
                    	<input type="text" placeholder="현재 비밀번호">
                        <input type="text" placeholder="새 비밀번호">
                        <input type="text" placeholder="새 비밀번호 확인">
                        <button class="saveBtn">저장하기</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</main>
</html>