* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    color: rgb(80, 80, 80);
}

.main{
    min-width: 1024px;
    background-color: gray;
}

/* 컨텐츠 기본 설정 */

.contentWrap{
    position: relative;
    padding: 20px 20px;
    min-height: 100vh - 50px - 250px;
    background-color:#c5c7cc;
}

.content{
    position: relative;
    width: 600px;
    margin: 0 auto;
    padding:50px;
    background-color: white;
}

.success > h1{
    padding: 20px;
    text-align: center;
}

.successText > p{
    padding: 20px;
    text-align: center;    
}

.productDetail{
    border-top: 1px solid #c5c7cc;
}

.productDetail > div{
    margin-top: 10px;
    padding: 10px;
}

.productDetail > div > * {

    margin: 10px;
}

.returnMainBntLayout{
    margin-top: 40px;
    text-align: center;
}

.returnMainBntLayout > button{
    width: 200px;
    height: 50px;
    margin: 5px;    
}