@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* 통합 리셋 */


.main{
    min-width: 1024px;
    background-color: gray;
}

.contentWrap{
    position: relative;
    padding: 20px 20px;
    min-height: 100vh - 50px - 250px;
    background-color:#c5c7cc;
 
}

.content{
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding:50px;
    background-color: white;

}

.content > div {
    margin: 40px;
}

.text > h3{
    margin: auto;
    padding: 10px;
}

.subscriptGroup > a > div{
    outline: 1px solid gray;
    height: 180px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
}

a > .subDetail{
    margin: auto;
    padding: 65px;
    outline: 1px solid blue;
 
}

.subDetail > div{

    display: inline;
    margin: 10px;
    font-weight: bold;
    font-size: xx-large;
}
 
.subDetail > #period{
    color: red;

}

.sale{
    text-decoration: line-throughs;
    color: gray;
}

.subDetail > .btn{
    background-color: orange;
    color: white;
    border-radius: 10px;
    padding: 10px;
 
}


