main {
    display: inline-block;
    width: 850px;
    padding: 20px 0px 0px 50px;
}

main>h1 {
    font-size: 30px;
}

/* 뒤로 가기 구역 */
main>#backBtnBox {
    margin-top: 10px;
}

main>#backBtnBox>button {
    width: 100px;
    height: 30px;
    border: 1px solid rgb(80, 80, 80);
    background-color: white;
}

main>#backBtnBox>button:hover {
	cursor: pointer;
	color: white;
	border: 0px;
    background-color: rgb(140, 163, 177);
}

.mainWrap{
    width: 600px;
    margin-top: 100px;
    margin-left: 300px;
}


.titleLayout{
    padding: 5px;
    border-radius: 5px;
    border: 3px solid rgb(80, 80, 80);
}

.title{
    padding-left: 10px;
}

.titleContent{
    padding-left: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: larger;
    border: 1px solid rgb(80, 80, 80);
}

.contentWrap{
    border-radius: 5px;
    height: 500px;     
    border: 3px solid rgb(80, 80, 80);
    margin-top: 20px;  
}

.content{
    padding-left: 10px;
    padding: 10px 10px;
    border-radius: 5px;    
}