/* nav 구역 */
nav > div:nth-child(2){
    border-right: 7px solid rgb(56, 56, 56);
}

/* main 구역 */
main {
    display: inline-block;
    width: 850px;
    padding: 20px 0px 0px 50px;
}

main>h1 {
    font-size: 30px;
}

/* 뒤로 가기 구역 */
main>#backBtnBox {
    margin-top: 10px;
}

main>#backBtnBox>button {
    width: 100px;
    height: 30px;
    border: 1px solid rgb(80, 80, 80);
    background-color: white;
}
main>#backBtnBox>button:hover {
	cursor: pointer;
	color: white;
	border: 0px;
    background-color: rgb(140, 163, 177);
}

/* 강좌명 구역 */
main>#courseNameBox{
	margin-top: 20px;
}

/* 유저 조회 테이블 > Column 구역 */
#columnBox {
    margin-top: 10px;
    padding: 10px;
    background-color: #ccc;
    font-weight: bold;
    display: flex; /* 브라우저 줄일때 두줄생겨서 추가 */
}

#columnBox>span {
    display: inline-block;
    text-align: center;
    /*outline: 1px solid red;*/
}

#columnBox>span:nth-child(1) { width: 50px; }
#columnBox>span:nth-child(2) { width: 400px; }
#columnBox>span:nth-child(3) { width: 110px; }
#columnBox>span:nth-child(4) { width: 80px; }
#columnBox>span:nth-child(5) { width: 110px; }


/* 유저 조회 테이블 > Content 구역 */
.contentRows {
    padding: 10px;
    height: 55px;
    display: flex; /* 브라우저 줄일때 두줄생겨서 추가 */
}

.contentRows:hover {
	background-color: var(--subColor);
}

.contentRows>span {
    display: inline-block;
    text-align: center;
    line-height: 35px;
}

.contentRows>span:nth-child(1) { width: 50px; }
.contentRows>span:nth-child(2) { width: 400px; }
.contentRows>span:nth-child(3) { width: 110px; }
.contentRows>span:nth-child(4) { width: 80px; }

.contentRows>button {
	width: 80px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	color: white;
	border-radius: 5px;
	padding-left: 2px;
	margin-left: 13px;
	background-color: var(--mainColor);
    cursor: pointer;
    border-width: 0px;
}

.contentRows>.blueText{
	color: blue;
	/*font-weight: bold;*/
}


/* 페이징 버튼 */
#pageBtn > ul {
	display: flex;
	list-style-type: none;
	margin-top: 30px;
	justify-content: center;
}
#pageBtn li:not(.active):not(.disabled):hover {
	background-color: #eee;
}
#pageBtn li:not(.active):not(.disabled):hover > a {
	color: rgb(40, 40, 255);
}
#pageBtn li {
	display: inline-block;
	background-color: white;
	border: 1px solid #ddd;
	margin-left: -1px;
}
#pageBtn li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#pageBtn li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#pageBtn a {
	text-decoration: none;
	display: inline-block;
	padding: 6px 12px;
	/*color: rgb(206, 154, 0);*/
}
#pageBtn .active {
	background-color: #0D6EFD;
}
#pageBtn .active > a {
	color: white;
	pointer-events: none; /* 포인터 이벤트 동작 X */
}
#pageBtn .disabled {
	background-color: #ddd;
}
#pageBtn .disabled > a {
	pointer-events: none; /* 포인터 이벤트 동작 X */
	color: rgb(68, 68, 68);
}


