main {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.csContentContainer {
    width: var(--pageMinWidth);
    display: flex;
   
}

.csSideNav {
    width: 20%;
    
}


.csSideNav>ul {
    padding-right: 3rem;
}

.csSideNav>ul>li>a {
    display: block;
    width: 100%;
    padding: 1rem 0;
    font-weight: 900;
    border-top: 1px solid var(--boxShadow);
}

.csSideNav>ul>li:last-child>a {
    border-bottom: 1px solid var(--boxShadow);
}

/*제목 내용 들어오는 곳*/
.csContainer{
	width: 100%;
}
/*제목*/
.csContainer>.py-2:nth-child(1){
	background-color: #393939;
	color:#fff;
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgb(187, 187, 187);
    padding-left: 1.5rem;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 1rem;
}

/*내용*/
.card-text{
    border: 1px solid rgb(204, 204, 204);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgb(187, 187, 187);
}
.content{
	padding-bottom: 2rem;
}


/*수정 삭제 btn*/
.d-flex {
    display: flex;
    justify-content: end;
}

.optionBtn{
	width: 3.5rem;
    height: 2rem;
    background: #393939;
    color: #fff;
    margin-right: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-top: 0.4rem;
}

/*-----답변----------------------------------------------*/
.csAnswer {
    border: none;
    box-shadow: none;
    border-radius: 0rem;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    width: 100%;
}
/*제목*/
.csAnswerTitle{
	padding-bottom: 1rem;
	border-bottom: 1px solid rgb(172, 172, 172);
}

/*내용*/
.csAnswer>div:nth-child(2) {
    border: 1px solid rgb(204, 204, 204);
    padding: 0.5rem 3rem 0.5rem 2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
 }

