<html layout:decorate="~{layout/layout}">
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
    <main layout:fragment="main">
    	<link rel="stylesheet" th:href="@{/main/mainpageStyle.css}">
        <div class="mainBanner">
            <div class="banner">
                <p>banner event 확인하기</p>
                <button>이동하기</button>
            </div>
        </div>
        <div class="mainSlideContainer">
            <div class="slides">
                <div class="slide">
                    <a href="#">
                        <img th:src="@{/img/banner01.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img th:src="@{/img/banner02.png}" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img th:src="@{/img/banner03.png}" alt="">
                    </a>
                </div>
            </div>

            <div class="slideBtnContainer">
                <div class="slideBtn nextBtn">
                    <p><i class="fa-solid fa-chevron-right"></i></p>
                </div>
                <div class="slideBtn preBtn">
                    <p><i class="fa-solid fa-chevron-left"></i></p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="sectionTitle">
                <p>실시간 새로운 클래스</p>
                <div class="sectionSlideBtn">
                    <button class="setionSlideLeft"><i class="fa-solid fa-chevron-left"></i></button>
                    <button class="setionSlideRight"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="sectionSlideContainer">
                <div class="slides">
                    <ul class="slide">
                    	<li th:each="courseList : ${courseList1}">
                            <a href="#">
                                <div class="sectionConImg">
                                    <img th:src="@{|/files/${courseList.file.fileName}|}" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p th:text="${courseList.title}">
                                         <br> <span th:text="${courseList.content}"></span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="slide">
                        <li th:each="courseList : ${courseList2}">
                            <a href="#">
                                <div class="sectionConImg">
                                    <img th:src="@{|/files/${courseList.file.fileName}|}" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p th:text="${courseList.title}">
                                         <br> <span th:text="${courseList.content}"></span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="slide">
                        <li th:each="courseList : ${courseList3}">
                            <a href="#">
                                <div class="sectionConImg">
                                    <img th:src="@{|/files/${courseList.file.fileName}|}" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p th:text="${courseList.title}">
                                         <br> <span th:text="${courseList.content}"></span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="sectionTitle">
                <p>실시간 인기 클래스</p>
                <div class="sectionSlideBtn">
                    <button class="setionSlideLeft"><i class="fa-solid fa-chevron-left"></i></button>
                    <button class="setionSlideRight"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="sectionSlideContainer">
                <div class="slides">
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>

                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="sectionTitle">
                <p>실시간 인기 클래스</p>
                <div class="sectionSlideBtn">
                    <button class="setionSlideLeft"><i class="fa-solid fa-chevron-left"></i></button>
                    <button class="setionSlideRight"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="sectionSlideContainer">
                <div class="slides">
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>

                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="sectionTitle">
                <p>실시간 인기 클래스</p>
                <div class="sectionSlideBtn">
                    <button class="setionSlideLeft"><i class="fa-solid fa-chevron-left"></i></button>
                    <button class="setionSlideRight"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="sectionSlideContainer">
                <div class="slides">
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>

                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="sectionTitle">
                <p>실시간 인기 클래스</p>
                <div class="sectionSlideBtn">
                    <button class="setionSlideLeft"><i class="fa-solid fa-chevron-left"></i></button>
                    <button class="setionSlideRight"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="sectionSlideContainer">
                <div class="slides">
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <ul class="slide">
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="sectionConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="sectionConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>

                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        
		<script th:src="@{/main/mainPageModul.js}"></script>
    </main>
</html>