<html layout:decorate="~{layout/layout}">
	<main layout:fragment="main">
    	<link rel="stylesheet" th:href="@{/course/categoryDetailStyle.css}">
    	
        <div class="categoryDetailContainer">
            <div class="categoryDetailLeft">
                <div class="lecturerCard">
                    <div class="lecturerName">
                        <img src="" alt="">
                        <p>Lecturer Name</p>
                    </div>
                    <div class="lecturerText">
                        <p>초급</p>
                        <p>챕터 8개 , 총 4시간 21분</p>
                        <p> 오디오 한국어</p>
                    </div>
                </div>
                <ul class="lectureNav">
                    <li><a href="#">클래스 소개</a></li>
                    <li><a href="#">크리에이터</a></li>
                    <li><a href="#">추천</a></li>
                </ul>

                <ul class="lecturerContentContainer" >
                    <li class="classIntroduce">
                        <div class="lectureTitle">
                            <p>이런걸 배워요!</p>
                            <!-- <div class="lectureSlideBtn">
                                <button class="lectureSlideLeft"><i class="fa-solid fa-chevron-left"></i></button>
                                <button class="lectureSlideRight"><i class="fa-solid fa-chevron-right"></i></button>
                            </div> -->
                        </div>
                        <div class="lectureSlideContainer">
                            <ul class="slides">
                                <li class="slide">
                                    <a href="#">
                                        <div class="lectureConImg">
                                            <img src="" alt="">
                                        </div>
                                        <div class="lectureConText">
                                            <p>subTitle</p>
                                            <p>content Text</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="slide">
                                    <a href="#">
                                        <div class="lectureConImg">
                                            <img src="" alt="">
                                        </div>
                                        <div class="lectureConText">
                                            <p>subTitle</p>
                                            <p>content Text</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="slide">
                                    <a href="#">
                                        <div class="lectureConImg">
                                            <img src="" alt="">
                                        </div>
                                        <div class="lectureConText">
                                            <p>subTitle</p>
                                            <p>content Text</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="slide">
                                    <a href="#">
                                        <div class="lectureConImg">
                                            <img src="" alt="">
                                        </div>
                                        <div class="lectureConText">
                                            <p>subTitle</p>
                                            <p>content Text</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lectureMainImg">
                            <img src="" alt="">
                        </div>
                        <div class="lectureMainText">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium corrupti porro alias nisi quis facere, illo iste reiciendis. Expedita itaque adipisci soluta illum. Error quae repellat tenetur veritatis nam dolorum!</p>
                        </div>
                        <div class="lectureMainImg">
                            <img src="" alt="">
                        </div>
                        <div class="lectureMainImg">
                            <img src="" alt="">
                        </div>
                        <div class="lectureMainText">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium corrupti porro alias nisi quis facere, illo iste reiciendis. Expedita itaque adipisci soluta illum. Error quae repellat tenetur veritatis nam dolorum!</p>
                        </div>
                        <div class="lectureMainImg">
                            <img src="" alt="">
                        </div>
                        <div class="lectureMainText">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium corrupti porro alias nisi quis facere, illo iste reiciendis. Expedita itaque adipisci soluta illum. Error quae repellat tenetur veritatis nam dolorum!</p>
                        </div>
                        <div class="lectureMainImg">
                            <img src="" alt="">
                        </div>
                        <div class="lectureMainImg">
                            <img src="" alt="">
                        </div>
                        <div class="lectureMainText">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium corrupti porro alias nisi quis facere, illo iste reiciendis. Expedita itaque adipisci soluta illum. Error quae repellat tenetur veritatis nam dolorum!</p>
                        </div>
                    </li>
                    <li class="creater">
                        <div class="lectureTitle">
                            <p>크리에이터</p>
                        </div>
                        <div class="lecturerCard">
                            <div class="lecturerName">
                                <img src="" alt="">
                                <p>Lecturer Name</p>
                            </div>
                            <div class="createrText">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ab autem dolor facilis, ullam necessitatibus. Unde in maxime exercitationem <br><br> earum aliquid harum id mollitia nam! Officia adipisci totam expedita necessitatibus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita sint necessitatibus impedit, commodi molestias error eaque sit, laudantium veritatis repellendus eos assumenda, aliquam dicta suscipit facilis vero at ab!</p>
                            </div>
                        </div>
                    </li>
                    <li class="recommand">
                        <div class="section">
                            <div class="sectionTitle">
                                <p>이 클래스와 비슷한 클래스 추천</p>
                                <div class="sectionSlideBtn">
                                    <button class="setionSlideLeft"><i class="fa-solid fa-chevron-left"></i></button>
                                    <button class="setionSlideRight"><i class="fa-solid fa-chevron-right"></i></button>
                                </div>
                            </div>
                            <div class="sectionSlideContainer">
                                <div class="slides">
                                    <ul class="slide">
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                
                                    </ul>
                                    <ul class="slide">
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                
                                    </ul>
                                    <ul class="slide">
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="sectionConImg">
                                                    <img src="" alt="">
                                                </div>
                                                <div class="sectionConText">
                                                    <p>
                                                        loremloremlorem <br> <span>loremlorem</span>
                                                    </p>
                
                                                </div>
                                            </a>
                                        </li>
                
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>



            <div class="categoryDetailRight">
                <div class="categoryCart">
                    <div class="categoryCartTitle">
                        CategoryTitle
                    </div>
                    <div class="categoryPrice">
                        <p class="originPrice">가격 <span>월 59,880원</span></p>
                        <p class="discount">최대 해택가 <span><span>20% </span>월 48,000원</span></p>
                    </div>
                    <div class="paymentContainer">
                        <p><input type="radio" name="productDiscount" id="productDiscount"> 상품할인</p>
                        <p><input type="radio" name="productDiscount" id="productDiscount"> 5개월 무이자 할부</p>
                    </div>
                    <button class="buyBtn">구매하기</button>
                </div>
            </div>
        </div>

		<script th:src="@{/course/categoryDetailModul.js}"></script>
	</main>
</html>
