<html layout:decorate="~{layout/layout}">
	<main layout:fragment="main">
    	<link rel="stylesheet" th:href="@{/course/categoryStyle.css}">
    	
        <div class="categoryContentContainer">
            <div class="categoryDetailNav">
                <p class="categoryDetailNavTitle">
                    나라별 요리
                </p>
                <ul>
                    <li><a href="#">전체</a></li>
                    <li><a href="#">한식</a></li>
                    <li><a href="#">양식</a></li>
                    <li><a href="#">중식</a></li>
                    <li><a href="#">일식</a></li>
                    <li><a href="#">기타</a></li>
                </ul>
            </div>

            <div class="categoryContent">
                <div class="categoryContentTop">
                    <form action="">
                        <select name="categorySelect" id="">
                            <option value="">인기순</option>
                            <option value="">최신순</option>
                        </select>
                    </form>
                    <form action="">
                        <select name="categorySelect" id="">
                            <option value="">구매옵션</option>
                            <option value="">평생소장</option>
                            <option value="">대여</option>
                            <option value="">구독</option>
                        </select>
                    </form>
                </div>

                <div class="categoryContentDown">
                    <ul class="categoryCons">
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="categoryCon">
                            <a href="#">
                                <div class="categoryConImg">
                                    <img src="" alt="">
                                </div>
                                <div class="categoryConText">
                                    <p>
                                        loremloremlorem <br> <span>loremlorem</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        <script th:src="@{/course/categoryModul.js}"></script>
	</main>
</html>
    
