<html layout:decorate="~{layout/layout}">
	<main layout:fragment="main">
    	<link rel="stylesheet" th:href="@{/csc/csPageStyle.css}">
    	
        <div class="csContentContainer">
            <div class="csSideNav">
                <ul>
                    <li><a href="/csc/list">1:1 문의</a></li>
                    <li><a href="/notice">공지사항</a></li>
                </ul>
            </div>
            <div class="csCon">
                <ul>
                    <li class="maintap mention on">
                        <div class="csConTitle">
                            <p>공지사항</p>
                        </div>
                        <table>
                            <tr>
                            	<th>번호</th>
                            	<th>제목</th>
                            	<th>작성자</th>
                            	<th>작성일</th>
                        	</tr>
                            <tr th:each="notice : ${notice}">
                            <!--
                                <td th:text="${notice.totalElements - (notice.number * notice.size) - loop.index}"></td>
                                -->
                                <td>N</td>
                                <td><a th:href="@{|/notice/detail/${id}|}" th:text="${notice.content}"></a></td>
                                <td>관리자</td>
                                <td th:text="${#temporals.format(notice.lastUpdate, 'yyyy-MM-dd')}"></td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        
		<script th:src="@{/csc/csPageModul.js}"></script>
    </main>
</html>