<html layout:decorate="~{layout/layout}">
	<main layout:fragment="main">
    	<link rel="stylesheet" th:href="@{/csc/csPageStyle.css}">
    	
        <div class="csContentContainer">
            <div class="csSideNav">
                <ul>
                    <li><a href="/csc/list">1:1 문의</a></li>
                    <li><a href="/notice/list">공지사항</a></li>
                </ul>
            </div>
            <div class="csCon">
                <ul>
                    <li class="maintap mention on">
                        <div class="csConTitle">
                            <p>공지사항</p>
                        </div>
            			<!--공지 목록-->
                        <table>
                            <tr>
                            	<th>번호</th>
                            	<th>제목</th>
                            	<th>작성자</th>
                            	<th>작성일</th>
                        	</tr>
                            <tr th:each="noticeList : ${noticeList}">
                                <td th:text="${noticeList.noticeId}"></td>
                                <td><a th:href="@{|/notice/detail/${noticeList.noticeId}|}" th:text="${noticeList.title}"></a></td>
                                <td>관리자</td>
                                <td th:text="${#temporals.format(noticeList.lastUpdate, 'yyyy-MM-dd')}"></td>
                            </tr>
                        </table>
                        <!--페이징 버튼-->
                        <div class="pageBtn" th:if="${paging.totalPage} > 1">
                            <div>
                                <a class="page-link" th:if="${paging.pageNo != 1}" href="javascript:void(0)" th:data-page="1">처음으로</a>
                            </div>
                            <div>
                                <a class="page-link" href="javascript:void(0)" th:if="${paging.pageNo>1}" th:data-page="${paging.pageNo-1}">이전</a>
                            </div>
                            <div th:each="num : ${#numbers.sequence(paging.startPage,paging.endPage)}">
                                <a class="page-link" href="javascript:void(0)"} th:text="${num}" th:data-page="${num}"><a>
                            </div>
                            <div>
                                <a class="page-link" href="javascript:void(0)" th:if="${paging.pageNo < paging.totalPage}" th:data-page="${paging.pageNo+1}">다음</a>
                            </div>
                            <div>
                                <a class="page-link" th:if="${paging.pageNo != paging.totalPage}" href="javascript:void(0)" th:data-page="${paging.totalPage}">마지막으로</a>
                            </div>
                       </div>
                    </li>
                </ul>
            </div>
	
        </div>
        
        <!--  페이징 폼 -->
        <form th:action="@{/notice/list}" method="get" id="pagingForm">
    		<input type="hidden" id="page" name="page">
		</form>
        
        
		<script th:src="@{/csc/csPageModul.js}"></script>
    </main>
</html>