<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lecturePaymentSuccess.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="contentWrap"> <!--contentWrap 시작  -->
            <div class="content">

                <div class="success">
                    <h1>결제완료</h1>
                </div>

                <div class="successText">
                    <p>결제가 정상적으로 완료 되었습니다.</p>
                </div>
                
    
                <div class="productDetail">
                    <div>
                        <h3>구매상품</h3>
                        <span>무친실력 자바</span>
                    </div>
                    <div>
                        <h3>가격</h3>
                        <span>50000 원</span> 
                    </div>
                </div>
                
                <div class="returnMainBntLayout">
                    <button>
                        강좌 관리                        
                    </button>
                </div>

            </div>
        </div>
<!--contentWrap 종료  -->        
    </main>
</body>
</html>