<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/payment/subPaymentSuccess.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="contentWrap"> <!--contentWrap 시작  -->
            <div class="content">

                <div class="success">
                    <h1>결제완료</h1>
                </div>

                <div class="successText">
                    <p>결제가 정상적으로 완료 되었습니다.</p>
                </div>
                
    
                <div class="productDetail">
                    <div>
                        <h3>구매상품</h3>
                        <span th:text="${subscribe.type}"></span>
                    </div>
                    <div>
                        <h3>가격</h3>
                        <span th:text="${subscribe.price}"></span> 
                    </div>
                    <div>
                        <h3>혜택</h3>
                        <span  th:if="${subscribe.type == '1개월 구독'}">1,000 원 쿠폰 * 1</span>
                        <span  th:if="${subscribe.type == '3개월 구독'}">2,000 원 쿠폰 * 2</span>
                        <span  th:if="${subscribe.type == '6개월 구독'}">3,000 원 쿠폰 * 3</span>
                        <span  th:if="${subscribe.type == '12개월 구독'}">5,000 원 쿠폰 * 5</span>
                    </div> 
                </div>
                
                <div class="returnMainBntLayout">
                    <button th:onclick="|location.href='@{/mypage/subscription}'|">
                        구독 관리 페이지                        
                    </button>
                </div>

            </div>
        </div>
<!--contentWrap 종료  -->        
    </main>
</body>
</html>