<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="대기시간; url=http://이동할 주소">
    <title>Document</title>
    <link rel="stylesheet" href="/payment/subscriptionPageStyle.css">
    <link rel="stylesheet" href="static/reset.css">
</head>

<body>
    <!-- 메인 컨텐츠 -->
    <main>
        <!-- 프리미엄 구독, 설명문구, 혜택 -->
        <section>
            <div class="premeumText">
                <h1>프리미엄 구독</h1>
                <p>설명 문구</p>
                <p>혜택 1 + 혜택 2</p>
            </div>
            <!-- 구독권 별 진열란 -->
            <div class="premeumProductContainer">
                <div>
                    <a th:href="@{/subPaymentOrder/1}">
                        <div class="subscriptionPeriod">
                            <p>1 개월</p>
                        </div>
                        <div class="ProductPrice">
                            <div class="regularPrice">
                                <br>  <!-- 4개의 구독권의 통일성을 위해, 공백으로 처리 -->
                            </div>
                            <div class="discountPercent">
                                <br>
                            </div>
                            <div class="discount">
                                <p>10,000 원</p>
                            </div>
                        </div>
                        <div class="paymentBnt">
                            <p>구매하기</p>
                        </div>
                    </a>
                </div>

                <div>
                    <a th:href="@{/subPaymentOrder/2}">
                        <div class="subscriptionPeriod">
                            <p>6 개월</p>
                        </div>
                        <div class="ProductPrice">
                            <div class="regularPrice">
                                <p>60,000 원</p>
                            </div>
                            <div class="discountPercent">
                                <p>할인가 20%</p>
                            </div>
                            <div class="discount">
                                <p>48,000 원</p>
                            </div>
                        </div>
                        <div class="paymentBnt">
                            <p>구매하기</p>
                        </div>
                    </a>
                </div>

                <div>
                    <a th:href="@{/subPaymentOrder/3}">
                        <div class="subscriptionPeriod">
                            <p>6 개월</p>
                        </div>
                        <div class="ProductPrice">
                            <div class="regularPrice">
                                <p>60,000 원</p>
                            </div>
                            <div class="discountPercent">
                                <p>할인가 20%</p>
                            </div>
                            <div class="discount">
                                <p>48,000 원</p>
                            </div>
                        </div>
                        <div class="paymentBnt">
                            <p>구매하기</p>
                        </div>
                    </a>
                </div>

                <div>
                    <a th:href="@{/subPaymentOrder/4}">
                        <div class="subscriptionPeriod">
                            <p>6 개월</p>
                        </div>
                        <div class="ProductPrice">
                            <div class="regularPrice">
                                <p>60,000 원</p>
                            </div>
                            <div class="discountPercent">
                                <p>할인가 20%</p>
                            </div>
                            <div class="discount">
                                <p>48,000 원</p>
                            </div>
                        </div>
                        <div class="paymentBnt">
                            <p>구매하기</p>
                        </div>
                    </a>
                </div>

            </div>
        </section>
    </main>
</body>

</html>