<html layout:decorate="~{layout/layout}">
<main layout:fragment="main">
    <link rel="stylesheet" th:href="@{/payment/subscriptionPageStyle.css}">
    <link rel="stylesheet" th:href="@{static/reset.css}">

   <main>

        <div class="contentWrap">

            <div class="content">
                
                <div class="text">
                    <h1>프리미엄 구독</h1><br>
                    <h2>"최고"의 요식업 강의 무제한 시청!</h2><br>
                    <h3> 1개월 구독 : 1,000원 쿠폰 X 3</h3>
                    <h3> 3개월 구독 : 2,000원 쿠폰 X 5</h3>
                    <h3> 6개월 구독 : 3,000원 쿠폰 X 7</h3>
                    <h3> 1년권 구독 : 5,000원 쿠폰 X 9</h3>
                </div>

                <div class="subscriptGroup">
                    <a href="/subPaymentOrder/1">
                        <div class="subDetail">

                            <div id="period">1 개월 </div>
                            <div>&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                            <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp10,000 원  </div>
                            <div class="btn">
                                구매하기
                            </div>
                            
                        </div>
                    </a>

                    <a href="/subPaymentOrder/2">
                        <div class="subDetail">

                            <div id="period">3 개월</div>
                            <div class="sale">원가  30,000 원</div>
                            <div>▶ 27,000 원</div>
                            <div class="btn">
                                구매하기
                            </div>
                            
                        </div>
                    </a>

                    <a href="/subPaymentOrder/3">
                        <div class="subDetail">

                            <div id="period"> 6 개월</div>
                            <div class="sale">원가 60,000 원</div>
                            <div>▶ 48,000 원</div>
                            <div class="btn">
                                구매하기
                            </div>
                            
                        </div>
                    </a>

                    <a href="/subPaymentOrder/4">
                        <div class="subDetail">

                            <div id="period">1 년권</div>
                            <div class="sale"> 원가 120,000원</div>
                            <div>▶ 84,000원</div>
                            <div class="btn">
                                구매하기
                            </div>
                            
                        </div>
                    </a>
                </div>

            </div>

        </div>

   </main>



</main>
</html>