<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* HEADER *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-* -->
<th:block th:fragment="headerFragment">
    <header>
        <div class="headerUp_Container">
            <div class="headerLogo">
                <a th:href="@{/main}">
                    <p><span>B</span>-Team</p>
                </a>
            </div>

            <div class="searchContainer">
                <form action="post">
                    <input type="text" class="searchBar" placeholder="검색어를 입력해주세요">
                    <div class="searchBtn btn"><i class="fa-solid fa-magnifying-glass"></i></div>
                </form>
            </div>
            <div class="headerContent">
                <ul>
                    <li class="headerContentBtn bellBtn">
                        <a href="#">
                            <i class="fa-solid fa-headset"></i>
                        </a>
                    </li>
                    <li class="headerContentBtn loginBtn">
                        <a href="#">
                            <i class="fa-regular fa-user"></i>
                        </a>
                        <ul class="loginNav">
                            <li><a th:href="@{user/login}">로그인</a></li>
                            <li><a href="http://192.168.17.254:8080/signup">회원가입</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="headerDownContainer">
            <div class="categoryBtn">
                <a><i class="fa-solid fa-bars"></i><span>Category</span></a>
            </div>
            <ul class="headerNav">
                <li><a th:href="@{/community/list}">커뮤니티</a></li>
            </ul>
        </div>
    </header>
</th:block>