main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* mypage mainContent ------------------------------------------------*/
.myPageContainer{
    width: var(--pageMinWidth);
    display: flex;
    margin-bottom: 5rem ;
}

.myPageContentContainer{
    width: 80%;
}

main>.myPageContainer>ul>.courseMngContent{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* 컨텐츠 영역 > 제목 */
.courseMngContent>.courseMngTitle {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 2rem;
    padding-top: 0.6rem;
    position: relative;
}

/* 컨텐츠 영역 > 내용 */
.courseMngContent>.courseMngInfo{
    border-collapse: collapse;
    font-weight:lighter;
    width: 100%;
}
.courseMngContent tr{
    border-bottom: 1px solid rgb(226, 226, 226);
}
.courseMngContent tr:first-child{
    border-top: 2px solid rgb(49, 49, 49);
    border-bottom: 1px solid rgb(49, 49, 49);
}

th , td{ 
    padding: 1.5rem 0 1.5rem 0;
    text-align: center;
    color: rgb(68, 68, 68);
    width: 10%;
}
td{
    font-weight: 400;
}

th:nth-child(3){
    width: 55%;
    text-align: center;
}
th:nth-child(4){
    width: 15%;
}

th:nth-child(5){
    width: 200px;
    text-align: center;
    border-left: 1px solid rgb(226, 226, 226);
}
td:nth-child(2){
    width: 15%;
}
td:nth-child(3){
    text-align: left;
}
td:nth-child(5){
    padding: 0rem;
    width: 200px;
    border-left: 1px solid rgb(226, 226, 226);
}
.btnsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
    padding: 5px 0px;
}
.btnsDiv>button{
    border: 1px solid rgb(68, 68, 68);
    background-color: white;
    padding: 0.4rem 0rem;
    width: 80px;
    border-radius: 0.2rem;
    font-weight: 600;
    cursor: pointer; 
    align-self: center;
}

.btnsDiv>button:last-child{
    width: 110px;
}


/* 페이징 버튼 */
#pageBtn > ul {
	display: flex;
	list-style-type: none;
	margin-top: 30px;
	justify-content: center;
}
#pageBtn li:not(.active):not(.disabled):hover {
	background-color: #eee;
}
#pageBtn li:not(.active):not(.disabled):hover > a {
	color: var(--spanColor);
}
#pageBtn li {
	display: inline-block;
	background-color: white;
	border: 1px solid #ddd;
	margin-left: -1px;
}
#pageBtn li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#pageBtn li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#pageBtn a {
	text-decoration: none;
	display: inline-block;
	padding: 6px 12px;
	/*color: rgb(206, 154, 0);*/
}
#pageBtn .active {
	background-color: var(--spanColor);
}
#pageBtn .active > a {
	color: white;
	pointer-events: none; /* 포인터 이벤트 동작 X */
}
#pageBtn .disabled {
	background-color: #ddd;
}
#pageBtn .disabled > a {
	pointer-events: none; /* 포인터 이벤트 동작 X */
	color: rgb(68, 68, 68);
}