main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* mypage mainContent ------------------------------------------------*/
.myPageContainer{
    width: var(--pageMinWidth);
    display: flex;
    margin-bottom: 5rem ;
}

.myPageContentContainer{
    width: 80%;
}

main>.myPageContainer>ul>.courseMngContent{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* 컨텐츠 영역 > 제목 */
.courseMngContent>.courseMngTitle {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 2rem;
    padding-top: 0.6rem;
    position: relative;
}

.courseMngContent>.courseMngTitle>button { /* 강의 순서 변경, 강의 추가 버튼 */
    border: 0px;
    background-color: var(--spanColor);
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.courseMngContent>.courseMngTitle>.orderByChangeBtn{ /* 강의 순서 변경 버튼 */
    right: 120px;
}

/* 컨텐츠 영역 > 내용 */
.courseMngContent>.courseMngInfo{
    border-collapse: collapse;
    font-weight:lighter;
    width: 100%;
}
.courseMngContent tr{
    border-bottom: 1px solid rgb(226, 226, 226);
}
.courseMngContent tr:first-child{
    border-top: 2px solid rgb(49, 49, 49);
    border-bottom: 1px solid rgb(49, 49, 49);
}

th , td{ 
    padding: 1.5rem 0 1.5rem 0;
    text-align: center;
    color: rgb(68, 68, 68);
}
td{
    font-weight: 400;
}
th , td{
    width: 10%;
}

th:nth-child(2){
    width: 55%;
    text-align: center;
}
td:nth-child(2){
    text-align: left;
}
th:nth-child(3){
    width: 15%;
}


/* 페이징 버튼 */
#pageBtn > ul {
	display: flex;
	list-style-type: none;
	margin-top: 30px;
	justify-content: center;
}
#pageBtn li:not(.active):not(.disabled):hover {
	background-color: #eee;
}
#pageBtn li:not(.active):not(.disabled):hover > a {
	color: var(--spanColor);
}
#pageBtn li {
	display: inline-block;
	background-color: white;
	border: 1px solid #ddd;
	margin-left: -1px;
}
#pageBtn li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#pageBtn li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#pageBtn a {
	text-decoration: none;
	display: inline-block;
	padding: 6px 12px;
	/*color: rgb(206, 154, 0);*/
}
#pageBtn .active {
	background-color: var(--spanColor);
}
#pageBtn .active > a {
	color: white;
	pointer-events: none; /* 포인터 이벤트 동작 X */
}
#pageBtn .disabled {
	background-color: #ddd;
}
#pageBtn .disabled > a {
	pointer-events: none; /* 포인터 이벤트 동작 X */
	color: rgb(68, 68, 68);
}